{% load static %}

<footer id="footer">
	<div class="footer">
		<div class="social">
		<a href="https://www.instagram.com/hayal_islerii/" target="_blank" title="Instagram"></a>
		<a href="https://www.tiktok.com/@hayal_isleri" title="TikTok" target="_blank"></a>
		<a href="https://twitter.com/hayal_isleri" title="Twitter" target="_blank"></a>
		<a href="https://twitter.com/hayal_isleri" title="Linkedin" target="_blank"></a>
	</div>
		<ul>
			<li><a href="index.html">Hayal İşleri&nbsp;</a></li>
			<li><p>&nbsp;Templated by Hayal&nbsp;&nbsp;</p></li>
			<li><a href="mailto:hayalisleri34@gmail.com" target="_blank" >Contact Us</a></li>
		</ul>
		<div class="copyright" > <small>&copy; Copyright 2023, Hayal İşleri Design </small> </div> 
	</div>
</footer> 