{% load static %}
<header>
  <div class="logo">
    <a href="{% url 'home' %}"><img src="{% static 'base/img/p-02.png' %}" /></a>
  </div>
  <nav>
    <ul>
      <li class="e">
        <a href="{% url 'luggage_index' %}"><img src="{% static 'base/img/p-06.png' %}" /></a>
      </li>
      <li class="a">
        <a href="#"><img src="{% static 'base/img/p-04.png' %}" style="width: 120px; height: auto;" /></a>
      </li>
      <li>
        <a href="#"><img src="{% static 'base/img/user-interface.png' %} " style="width: 50px;" /></a>
      </li>
      <li>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <span id="span">Welcome❤️&nbsp;{{ user.get_full_name|title }}</span>
              <a href="{% url 'logout' %}">Logout&nbsp;<i class="dropdown-item"></i></a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'login' %}" class="dropdown-item">Login&nbsp;<i class="fa-solid fa-right-to-bracket"></i></a>
            </li>
            <br />
            <li>
              <a href="{% url 'register' %}" class="dropdown-item">Register</a>
            </li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </nav>
  <marquee scrollamount="5">Hayalisleri.com has been in service from 1 February.&nbsp;ðŸŽŠ&nbsp;ðŸ¥³&nbsp;ðŸŽ‰&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Hayalisleri.com 1 Åžubat'tan itibaren hizmettedir.&nbsp;ðŸŽŠ&nbsp;ðŸ¥³&nbsp;ðŸŽ‰</marquee>
</header>
