@charset "UTF-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}


body {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

}

header {
    padding: 50px;
}

.logo {
    float: left;

}

.logo img {
    height: auto;
    width: 100px;
    margin: -30px;
}

nav {
    border-bottom: dashed thick;
    width: 100%;
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: -20px;
    float: right;
}

nav ul li {
    display: inline;
}

.e img {
    width: 250px;
    height: auto;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 50px;
}

.c {
    float: right;
}

marquee {
    display: block;
    margin-top: 20px;

}

.container1 {
    max-width: 100%;
    margin: 120px auto;

}

.row {
    display: flex;
    margin-bottom: 50px;
}

.col {
    flex: 1;
    background-color: #f0f0f0;
    padding: 100px;
    text-align: center;
    border: dashed thick;
    border-radius: 20px;

}

footer {
    height: 50px;
    width: 100%;
}

@media (max-width: 768px) {
    .logo {
        float: none;
        text-align: left;
        margin-bottom: 20px;
    }

    .logo img {
        text-align: center;
        align-items: center;
    }

    nav {
        border-top: dashed thick;
        border-bottom: none;
    }

    .e img {
        margin: auto;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px 0 0 0;
        float: none;

    }

    nav ul li {
        display: block;
        margin-bottom: 20px;
    }

    marquee {
        display: block;
        margin-top: -40px;

    }

    .container1 {
        margin-top: 240px;
    }


}