{% extends "base/base.html" %}
{% load static %}
<html>
<head>
<meta charset="utf-8">
</head>
{% block content %}

    <section id="banner">
            <h2>Who are we ?</h2>
            <p>Simply, we are dreamers, and supporters back to others <br> who want to put their hearts on a road where dreams do not remain a dream, they will be realized.<br><span style="font-size:18px; font-family: 'Montserrat', sans-serif;">&nbsp; &nbsp; Basitçe biz hayallerin hayal olarak kalmayacağı gerçekleşeceği bir yola <br> gönül veren ve gönül vermek isteyenlerin destekçisiyiz.</span><br></p>
        <a href="https://www.instagram.com/hayal_islerii/"><b style="	font-family:'Montserrat', sans-serif; font-weight: 900;">LET'S REALIZE THEM</b></a>
    </section>

    <section class="upper1">
        <div class="container">
        <div class="left">
        <h2>We...</h2>
            <p>&nbsp;...are a community that includes travelers, amateur photographers, publishers, editors, content creators, and programmers.<br><br>
			<strong><b>&nbsp;But above all,</b></strong><span style="background: darkorange;">we are all dreamers who chase our own dreams.</span> 
			</p>	
            </div>
            <div class="right"><article><span style="font-family: 'Montserrat', sans-serif; font-size:20px;"> &nbsp; Our general purpose in establishing <b><i>hayalisleri.com</i></b> is to help people who cannot afford or want to travel low-costly.</span><br><br>
			<p style="font-size:16px; font-family: 'Montserrat', sans-serif;"><b><i>&nbsp; Hayalisleri.com</i></b>'u kurmaktaki <span style="background: #CDFF00; font-family: 'Montserrat', sans-serif;">genel amacımız, bütçesi olmayan veya ucuza seyahat etmek isteyen kişilere yardımcı olmaktır.</span>
				</p>
				</article>
			</div>
			
				<div class="middle"><article><p style="font-size:20px; font-family: 'Montserrat', sans-serif;">&nbsp; You will be encouraged to<br> travel with <span style="text-decoration: underline;">attractive travel videos, interesting and beneficial travel tricks, clues, blogs, and flight deals.</span></p>
					<span style="font-size:16px; font-family: 'Montserrat', sans-serif;">&nbsp;<span style="text-decoration: underline; font-family: 'Montserrat', sans-serif;">Çekici seyahat videoları, ilginç ve faydalı seyahat tüyoları, ipuçları, bloglar ve uçuş fırsatları</span> ile seyahat etmeye teşvik edileceksiniz.</span></article>
		  </div>
		  <div class="bottom"><article><p style="font-family: 'Montserrat', sans-serif; font-size:20px;"> &nbsp;Finally, there will be <mark style="background: #3BFF00;">no obstacle to travel</mark> thanks to <i style="font-size:20px; font-family: 'Montserrat', sans-serif;">Hayal İşleri</i><br>against you who travel-lover but lack courage and do not have a lot of money for travel.<br><br>
			<span style="font-size:16px; font-family: 'Montserrat', sans-serif;">&nbsp;Sonunda; gezmeyi seven ama cesareti olmayan, gezmek için fazla parası olmayan sizlere karşı <i style="font-size:16px; font-family: 'Montserrat', sans-serif;">Hayal İşleri</i> sayesinde <span style="background: #3BFF00; font-size:16px; font-family: 'Montserrat', sans-serif;">seyahat etmenin önünde hiçbir engel kalmayacak.</span>
				 </span>
				</p>
				</article>
			</div>
			
      </div>
    </section>
	<div class="clean"></div>

    <section id="bolum3">

        <h2>Photography by Hayal</h2>
        <p>We are working on getting your attention to trip the world with remarkable photos 📸<p style="font-size:16px; font-family: 'Montserrat', sans-serif;">Olağanüstü fotoğraflarla dünyayı gezmeniz için dikkatinizi çekmeye çalışıyoruz.</p></p>
        <div class="kapsayici2">
            <div class="resim" id="resim1"><img src="{% static 'base/img/IMG20211113072014.jpg' %}">
                <p style="font-size:16px; font-family: 'Montserrat', sans-serif;">Bosphorus Bridge in Ortaköy Mosque / İstanbul</p>
            </div>
            <div class="resim" id="resim2"><img src="{% static 'base/img/20221010_155517.jpg' %}">
                <p style="font-size:16px; font-family: 'Montserrat', sans-serif;">The Eiffel Tower / Paris</p>
            </div>
        </div>
        <div class="clean"></div>
        <div class="a"></div>
        <ul>
            <li><a href="#">Domestic Blogs</a></li>
            <li><a href="#">Abroad Blogs</a></li>
        </ul>
	</section>


<div class="clean"></div>
    <section id="bolum4">
        <h2 class="h2">Trip Blogs by Hayal</h2>
        <p style="font-size: 20px;">Also, with interesting and beneficial trip blogs📓<br><span style="font-size:16px; font-family: 'Montserrat', sans-serif; text-decoration: none;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Ayrıca ilginç ve faydalı gezi blogları ile...</span></p>
        <div class="container4">
            <div class="ic" style="border: 2px dashed aliceblue;">
                <div class="image"><img src="{% static 'base/img/eiffel.jpg' %}"></div>
                <div class="article">
                    <h3>The Eiffel Tower</h3>
                    <p>&nbsp;Paris / France</p>
                    <p style="position: relative; top: -20px; height: 100px;">&nbsp; Kule 300 m uzunluğunla olmakla birlikte çelik yerine demirler perçinlenerek inşa edilmiştir. Tour eiffel'e <span>ulaşım M6 metrosuyla Bir-Hakeim istasyonundan inilerek ulaşılabilir.</span>Biletler online olarak veya orada alınabilir. 2. kat ve zirve olarak iki kata çıkılabilir. . .</p>
                </div>
            </div>

            <div class="ic" style="border: 2px dashed aliceblue;">
                <div class="image"><img src="{% static 'base/img/louvre.jpg' %}"></div>
                <div class="article">
                    <h3>The Louvre Museum</h3>
                    <p>Paris / France</p>
                    <p style="position: relative; top: -20px; text-align: left;">&nbsp; <span>Dünyanın en büyük sanat müzesi niteliğine sahip olan Louvre müzesi</span>
                    , sadece içerisindekilerle değil tarihi yapısı ile müze binası göz kamaştırıyor. Giriş ücretleri <span style="background: darkorange;">online €17, müzeden alınırsa €15'dur</span>. . .</p>
                </div>
            </div>
    <div class="ic" style="border: 2px dashed aliceblue;">
            <div class="image"><img style="height: 161px; width: 120px;" src="{% static 'base/img/ayasofya.jpg' %}"></div>
            <div class="article">
                <h3>The Hagia Sophia</h3>
                <p>&nbsp;İstanbul / Türkiye</p>
                <p style="position: relative; top: -20px;">&nbsp; Günümüzdeki 3. Ayasofya olarak bilinen Ayasofya, İstanbul'un Fatih semtindedir. <span>1934-2020 yılları arasında müze statüsü, 2020 yılında iptal edilip camii statüsü verilmiştir.</span> İhtişamıyla İstanbul'un göz bebeği olan Camii'ye, T1 tramvayı Sultanahmet istasyonundan yürüyerek ulaşılabilir. . .</p>
            </div>
        </div>
    <div class="ic" style="border: 2px dashed aliceblue;">
            <div class="image"><img src="{% static 'base/img/the.jpg' %}"></div>
            <div class="article">
            <h3>The Broken Chair</h3>
                <p>Geneva / Switzerland</p>
                    <p style="position: relative; top: -20px; text-align: left;">&nbsp; Cenevre'deki Milletler Sarayı'nın karşısında duran ve ayağı kırık dev bir sandalyeyi tasvir ediyor.<span>Kara mayınlarına ve parça tesirli bombalara karşı muhalefeti sembolize ediyor</span> ve Cenevre'yi ziyaret eden politikacılar ve diplomatlar için bir hatırlatma işlevi görüyor. . .
              </p>
            </div>
        </div>
    </div>
	</section>
<div class="clean"></div>
<section id="bolum6"><div><h2>Flight Deals by Hayal ✈️</h2><p>As we said above, also we inform you about flight deals.<br>
	At the moment, We post flight deals on Instagram pages. Because of that, do not forget to follow us ❤️.<br><span style="font-size:16px; font-family: 'Montserrat', sans-serif;" >
Yukarıda da söylediğimiz gibi sizleri uçuş fırsatları hakkında da bilgilendiriyoruz. Şu anda Instagram sayfalarında uçuş fırsatlarını yayınlıyoruz. Bu yüzden bizi takip etmeyi unutmayın.</span>
	</p><img src="{% static 'base/img/deals.jpg' %}"><small>Hayal İşleri instagram sayfası<br> reels görüntüsüdür.</small><p>We are working on API page about flight deals 🚧. It is coming soon 👀.<br><span style="font-size:16px; font-family: 'Montserrat', sans-serif;" >
Uçuş fırsatları hakkında API sayfası üzerinde çalışıyoruz. Çok yakında geliyor.</span></p>
</div>
</section>

	<section id="bolum5">
	<div class="icerik" style="color: black;">
		<b style="font-family:'Montserrat', sans-serif;"><h2 style="font-family:'Montserrat', sans-serif;">HAYAL İŞLERİ is ready for collaborations !<br><span style="font-size:22px; font-family:'Montserrat', sans-serif;">
		HAYAL İŞLERİ İŞ BİRLİKLERİ İÇİN HAZIR !</span></h2></b>
		<p style="font-family:'Montserrat', sans-serif; ">Please, get in touch on <strong>mail or DM </strong>for collaborations.<br>
		<span style="font-family:'Montserrat', sans-serif; font-size: 18px;" >LÜTFEN, İŞ BİRLİKLERİ İÇİN<b> DM ya da maIl </b>yoluyla İletİŞİme geÇİn.</span></p>
		<a href="mailto:hayalisleri34@gmail.com" target="_blank">GET IN TOUCH</a>
		</div>
		<div id="son"><a href="https://www.instagram.com/hayal_islerii/" target="_blank" title="Instagram"><img src="{% static 'base/img/pngegg.png' %}"></a></div>
		<div class="clean"></div>
	</section>

{% endblock content %}

</html>
