* {
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Montserrat', sans-serif; */
}

.as {
	position: relative;
	background-size: cover;
	width: 100%;
}

.errorlist {
	color: red;
	font-weight: bold;
}